
@{
    ViewData["Title"] = "Admin Dashboard";

}

<link href="~/lib/Calendar/css/tail.datetime-default-red.css" rel="stylesheet" />

<a href="#" class="dashboard-responsive-nav-trigger"><span class="nav-bdr"></span></a>
<!-- Dashboard -->
<div class="d-flex container body-container">
    <!-- Navigation
    ================================================== -->
    <!-- Responsive Navigation Trigger -->
    <div class="dashboard-nav">
        <ul data-submenu-title="Start">
            <li class="active"><a href="/Dashboard">Dashboard</a></li>
            <li>
                <span class="sublink-item">
                    Administrator
                </span>
                <ul class="subnav-list">
                    <li onclick="ManageUsers()"><a href="javascript:void(0);">Manage Users<span class="badge nav-tag notification-badge" id="manage-users-badge">0</span></a></li>
                    <li onclick="GetSuccessStoryVideo()"><a href="javascript:void(0);">Success Story</a></li>
                    <li onclick="GetJobRoles()"><a href="javascript:void(0);">Job Title</a></li>
                    <li onclick="GetStateList()"><a href="javascript:void(0);">States</a></li>
                    <li onclick="GetCityList()"><a href="javascript:void(0);">Cities</a></li>
                    <li onclick=" MangeJobsData()"><a href="javascript:void(0);">Manage Jobs</a></li>
                    <li onclick="BulkJobs()"><a href="javascript:void(0);">Bulk Uploads</a></li>
                    <li onclick=" FeaturedJobs()"><a href="javascript:void(0);">Featured Jobs</a></li>
                    <li onclick="UsersReviews()"><a href="javascript:void(0);">Users Review</a></li>
                    <li onclick="manageadveritsement()"><a href="javascript:void(0);">Manage Advertisement</a></li>
                </ul>
            </li>
            <li><a href="/Auth/Logout/">Logout</a></li>
        </ul>
    </div>
    <!-- Navigation / End -->
    <!-- Content
    ================================================== -->
    <div id="contentHolder" class="flex-1 mobile-full-screen overflow-hidden"> </div>

</div>
<!-- Dashboard / End -->


@section Scripts
    {
    <script src="~/lib/Calendar/js/tail.datetime.js"></script>
    <script src="~/js/Admin/Dashboard/AdminDashboardArea.js"></script>
    <script src="~/js/Admin/Index/Chart2.js"></script>
    <script src="~/js/common.js"></script>
    @*<script src="~/js/Admin/Calendar.js"></script>*@
    <script src="~/js/Admin/JobManager/jobmodifications.js"></script>
    <script src="~/js/Admin/Index/Index.js"></script>
}
