<div class="dashboard-content">
    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h3>Success Story</h3>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Dashboard</a></li>
                        <li>Success Story</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="userbtns">
        <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#jobseeker" aria-expanded="true">Job Seeker</a></li>
            <li class=""><a data-toggle="tab" href="#employer" aria-expanded="false">Employer</a></li>
        </ul>
    </div>
    <div class="tab-content">

        <div id="jobseeker" class="formpanel tab-pane fade active in">

            <form autocomplete="off" method="post" asp-action="">
                <div class="form">
                    <h5>Company</h5>
                    <select class="form-control" required id="CompanyId" asp-items="@(new SelectList(@ViewBag.EmployersData,"UserId", "CompanyName"))">
                        <option value="">Select Company</option>
                    </select>
                </div>
                <div class="form">
                    <h5>Jobs</h5>
                    <select class="form-control" required id="JobId">
                        <option value="">Select Jobs</option>
                    </select>
                </div>
                <div class="form">
                    <h5>Job Seekers</h5>
                    <select class="form-control" required id="JobSeekerId" asp-items="@(new SelectList(@ViewBag.JobSeekerData,"Email", "Email"))">
                        <option value="">Select Job Seekers</option>
                    </select>
                </div>
                <div class="form-row">
                    <input type="submit" class="button border fw margin-top-10" value="Send Jobseekers" />
                </div>
            </form>

        </div>

        <div id="employer" class="formpanel tab-pane fade">

            <form autocomplete="off" method="post" asp-action="">
                <div class="form-row">
                    <input type="submit" class="button border fw margin-top-10" value="Send Employer" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/Admin/SendNotification/SendNotification.js"></script>