*.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
appsettings.json
/SourceCode/JobPortal.Web/wwwroot/Assets/images/__app-images-v3.png
/SourceCode/JobPortal.Web/wwwroot/BulkResume/12_BulkResume
/SourceCode/JobPortal.Web/wwwroot/BulkResume/12_BulkResume_20200917181529696.zip
