*.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
appsettings.json
/SourceCode/JobPortal.Web/wwwroot/Assets/images/__app-images-v3.png
/SourceCode/JobPortal.Web/wwwroot/BulkResume/12_BulkResume
/SourceCode/JobPortal.Web/wwwroot/BulkResume/12_BulkResume_20200917181529696.zip
/SourceCode/JobPortal.Web/wwwroot/Resume/11_test.docx
/SourceCode/JobPortal.Web/wwwroot/Assets/images/logo.jpg
/SourceCode/JobPortal.Web/wwwroot/Assets/images/__logo.png
/SourceCode/JobPortal.Web/wwwroot/Assets/images/______logo.png
/SourceCode/JobPortal.Web/wwwroot/Assets/images/_____logo.png
/SourceCode/JobPortal.Web/wwwroot/Assets/images/____logo.png
/SourceCode/JobPortal.Web/wwwroot/Assets/images/__logo2.png
/SourceCode/JobPortal.Web/wwwroot/Assets/images/logoLast1.png
/SourceCode/JobPortal.Web/wwwroot/ProfilePic/3_professional-girl-png-8-450x580.png
/SourceCode/JobPortal.Web/wwwroot/Resume/3_test.docx
