
body {
    font-family: 'Montserrat', sans-serif;
}

/* flex-layout */

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

/* Header style */
.sticky-header {
    background-color: rgba(0,0,0,0.03);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
}

.logo {
    max-width: 160px;
}

/* Navigation style*/
#jPanelMenu-menu,
#jPanelMenu-menu ul,
.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    white-space: nowrap;
}

    .main-nav a:hover {
        text-decoration: none;
    }

.main-nav .nav-item {
    position: relative;
    display: inline-flex;
}

.main-nav .nav-item-link {
    padding: 10px 15px;
    color: #000;
}

    .main-nav .nav-item:hover .nav-item-link,
    .main-nav .nav-item-link:hover {
        color: #26ae61;
    }

.main-nav ul.page-nav {
    margin: 0;
}

.main-nav li.margin-left-5 {
    margin-left: 5px;
}

#jPanelMenu-menu .jobseeker,
#jPanelMenu-menu .employer,
.main-nav .nav-item-link {
    font-weight: 800;
    letter-spacing: -0.2px;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

#jPanelMenu-menu .jobseeker,
#jPanelMenu-menu .employer,
.main-nav .jobseeker,
.main-nav .employer {
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

#jPanelMenu-menu .jobseeker,
.main-nav .jobseeker {
    background-color: #000;
}

#jPanelMenu-menu .employer,
.main-nav .employer {
    background-color: #26ae61;
}

.main-nav :hover {
    text-decoration: none;
}

#jPanelMenu-menu a:hover {
    text-decoration: none
}

#jPanelMenu-menu .action-nav-link-text,
#jPanelMenu-menu .nav-item-link {
    padding: 8px 10px;
    background: #f1f1f1;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    display: inline-flex;
    width: 100%;
    cursor: pointer;
}

    #jPanelMenu-menu .nav-item-link:hover,
    #jPanelMenu-menu .action-nav-link-text:hover {
        background-color: #26ae61;
        color: #fff;
    }



#jPanelMenu-menu .subnav-item-link {
    padding: 8px 10px 8px 20px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    color: #26ae61;
}

    #jPanelMenu-menu .subnav-item-link:hover {
        color: #565656;
    }

#jPanelMenu-menu .subnav-item,
#jPanelMenu-menu .nav-item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
}

.action-navlink-nav-item {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .subnav-items {
        left: 15px;
        top: 100%;
        margin: 0;
        padding: 10px 0 0;
        position: absolute;
        z-index: 1;
    }

    .action-navlink-nav-item {
        position: relative;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        font-weight: 800;
        letter-spacing: -0.2px;
        font-size: 12px;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
    }

        .action-navlink-nav-item .subnav-items {
            left: auto;
            right: 0;
        }

    .subnav-items .subnav-item {
        white-space: nowrap;
    }

    .subnav-items .subnav-item-link {
        padding: 10px 15px;
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 1;
        color: #fff;
        background-color: #333;
    }

        .subnav-items .subnav-item-link:hover {
            background-color: #000;
        }

    .menu-trigger {
        display: none;
    }
}

@media(max-width: 991px) {
    .jPanelMenu-panel:after {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50px;
        content: '';
        background-color: rgba(0,0,0,0.3);
    }

    .menu-trigger {
        display: inline-flex;
        margin-left: auto;
        font-weight: 800;
        order: 1;
        font-size: 12px;
        text-transform: uppercase;
        align-items: center;
        color: #868484;
        padding: 5px 6px;
        pointer-events: all;
        width: 28px;
        height: 28px;
        position: relative;
        text-shadow: none;
    }

        .menu-trigger:hover {
            text-decoration: none;
            background-color: #26ae61;
            color: #fff;
        }

        .menu-trigger .fa {
            font-size: 18px;
        }

    .jPanelMenu-panel .menu-trigger {
        order: -1;
        margin-left: 0;
        margin-right: 15px;
    }

    .menu-trigger .close-menu,
    .menu-trigger .open-menu {
        position: absolute;
        left: 6px;
        top: 5px;
    }

    .menu-trigger .close-menu {
        opacity: 0;
    }

    .menu-trigger .open-menu {
        opacity: 1;
    }

    .menu-trigger.active .close-menu {
        opacity: 1;
    }

    .menu-trigger.active .open-menu {
        opacity: 0;
    }

    .main-nav {
        display: none;
    }
}
/* Navigation style end*/
/* Header style end*/


/*Banner section style*/
.banner, .searchbar {
    position: relative;
}
/*Search Section style*/
.searchwrap {
    background: #2b9057 url(https://i.ytimg.com/vi/FgxJ1etZHGo/maxresdefault.jpg) center 0;
    position: relative;
}

    .searchwrap:before {
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: '';
        background-color: rgba(0,0,0,0.3);
        position: absolute;
    }

.banner {
    padding-top: 40px;
    padding-bottom: 20px;
}

    .banner h1 {
        font-size: 55px;
        font-weight: 800;
        text-transform: lowercase;
        color: #fff;
        letter-spacing: -3px;
    }

    .banner p {
        color: #fff;
        font-size: 16px;
        letter-spacing: -0.3px;
    }

@media screen and (max-width: 991px) {
    .banner h1 {
        font-size: 38px;
    }

    .banner p {
        font-size: 14px;
    }
}

.searchbar {
    background-color: rgba(0,0,0,0.2);
    padding-top: 15px;
    padding-bottom: 15px;
}

.searchwrap .search-form-element {
    padding-left: 0;
    padding-right: 0;
}

.searchwrap .form-control {
    min-height: 38px;
    border-radius: 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 0 0;
    box-shadow: none;
    color: #999;
}

@media screen and (max-width: 1024px) {
    .searchwrap .form-control.chosen-select {
        border-width: 0 0px 1px 0;
        border-radius: 5px 5px 0 0;
        min-height: 160px;
    }
}

.searchwrap .form-control.first-column {
    border-radius: 0 0 0 5px;
}

.searchwrap .form-control.last-column {
    border-radius: 0 0 5px 0;
    border-right: 0;
}

.searchwrap .form-control.left-radius {
    border-radius: 5px 0 0 5px;
}

.searchwrap .form-control.right-radius {
    border-radius: 0 5px 5px 0;
    border-right: 0;
}

@media screen and (max-width: 767px) {
    .searchwrap .form-control.first-column {
        border-radius: 0;
    }

    .searchwrap .form-control {
        border-bottom: 1px solid #ccc;
    }

        .searchwrap .form-control.last-column {
            border-radius: 0 0 5px 5px;
            border-bottom: 0;
        }

        .searchwrap .form-control.left-radius {
            border-radius: 5px 5px 0 0px;
        }

        .searchwrap .form-control.right-radius {
            border-radius: 0 0px 5px 5px;
            border-right: 0;
        }
}



.chosen-container {
    width: 100%;
}

.chosen-choices {
    padding: 0;
    margin: 0;
    background: #fff;
    min-height: 38px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    position: relative;
    list-style: none;
    max-height: 75px;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .chosen-choices:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }

.search-choice {
    background: #000;
    margin: 5px 2px;
    color: #fff;
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 12px;
}

.search-field {
    margin: 5px 2px;
}

    .search-field .default {
        display: block;
        height: auto;
        padding: 3px 6px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 0px solid #ccc;
        border-radius: 0px;
        line-height: 1;
        font-size: 14px;
        color: #999;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: none;
    }

.chosen-drop {
    position: absolute;
    left: 0;
    background: #fff;
    top: 100%;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.09);
    display: none;
}

.chosen-container-active .chosen-drop {
    display: flex;
}

.chosen-results {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: all;
    min-height: 100%;
    overflow: auto;
}

    .chosen-results li {
        padding: 6px 10px;
        font-size: 13px;
    }


    .chosen-results li,
    .chosen-results .result-selected {
        background-color: #f1f1f1;
        color: #a5a4a4;
    }

    .chosen-results .active-result {
        background-color: #fff;
        color: #000;
    }

.btn-row {
    margin-top: 10px;
}

.btn {
    border-radius: 3px;
}

.btn-primary,
.btn-success {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary {
    background-color: #2b9057;
    border: 1px solid #2b9057;
}

    .btn-primary:focus,
    .btn-primary:focus:hover,
    .btn-primary:hover {
        border: 1px solid #2b9057;
        background-color: #257d4c;
    }

.btn-success {
    color: #fff;
    background-color: #b58509;
    border-color: #9c791f;
}

    .btn-success:focus,
    .btn-success:focus:hover,
    .btn-success:hover {
        border: 1px solid #9c791f;
        background-color: #b58509;
    }

.achievement {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Typography style */
h2.whitetitle,
h2.blacktitle {
    font-size: 22px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    letter-spacing: -0.7px;
    text-transform: capitalize;
}

h2.blacktitle {
    color: #000;
}

h2.whitetitle {
    color: #fff;
}

    h2.blacktitle:after,
    h2.whitetitle:after {
        width: 40px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 2px;
        content: '';
    }

h2.blacktitle:after {
    background-color: #26ae61;
}

h2.whitetitle:after {
    background-color: #000;
}

h2.whitetitle.greenbdr:after {
    background-color: #26ae61;
}

h2.blacktitle.text-center:after {
    left: 50%;
    margin-left: -20px;
}

/* Layout style */
.video-panel .embed-responsive {
    border: 1px solid #9a9a9a;
    margin-bottom: 15px;
}

.testimonial-panel {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

    .testimonial-panel h4 {
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 19px;
        margin-top: 20px;
        color: #2b9057;
    }

.testimonial-carousel {
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block !important;
    width: 100%;
}

    .testimonial-carousel blockquote {
        border-left: 5px solid #26ae61;
        text-align: left;
        flex: auto;
        padding: 0 10px;
        font-size: 14px;
    }

.testimonial-author {
    padding-left: 15px;
}

    .testimonial-author p {
        font-size: 12px;
        margin: 10px 0;
        color: #807e7e;
    }

    .testimonial-author .author-img {
        max-width: 70px;
    }

.topsearchwrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

    .topsearchwrap h5 {
        color: #000;
        font-weight: 800;
        font-size: 16px;
        border-bottom: 1px solid rgba(0,0,0,0.03);
        padding: 10px 0;
        margin: 0;
    }

.popular-search {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px;
}

@media(min-width:768px ) {
    .popular-search .popular-search-list {
        border-left: 1px solid rgba(0,0,0,0.2);
        padding-left: 30px;
    }

        .popular-search .popular-search-list:first-child {
            border-left: 0px;
            padding-left: 15px;
        }
}




.catelist {
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .catelist li {
        display: flex;
        align-items: center;
        color: #000;
        margin-right: 15px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .catelist a {
        color: rgba(255,255,255,0.7);
        padding: 6px 17px;
        display: flex;
        font-size: 13px;
        line-height: 1.3;
        background-color: rgba(255,255,255,0.1);
        border-radius: 40px;
    }

        .catelist a:hover {
            text-decoration: none;
            color: #fff;
            background-color: rgba(0,0,0,0.1);
        }

.panelbg-black {
    background-color: #000;
    whitetitle
}

.panelbg-gray10 {
    background-color: rgba(0,0,0,0.04);
}

.panelbg-lghtgrey {
    background-color: #f1f1f1;
}

.panelbg-green {
    background-color: #2b9057;
}

.home-screen-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.categories {
    margin: 0;
    padding: 10px 0 20px;
    list-style: none;
    display: inline-block;
    width: 100%;
}

.categories-item {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
}

.categories-item-link {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;
}

    .categories-item-link:hover {
        color: #fff;
        background-color: #2b9057;
        text-decoration: none;
    }

    .categories-item-link .fa {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2b9057;
        font-size: 22px;
    }

    .categories-item-link:hover .fa {
        color: #fff;
    }

.category-name {
    flex: 1;
    padding: 10px;
}

.job-count {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px;
}

.achievement {
    display: flex;
    flex-wrap: wrap;
}

    .achievement .counter-box {
        background-color: #d2d0d0;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000;
        flex: 1 1 auto;
        border: 1px solid #bdbbbb;
        margin-top: -1px;
        margin-left: -1px;
    }

        .achievement .counter-box .counter {
            font-size: 60px;
            font-weight: 800;
            color: rgba(0,0,0,0.5);
        }

        .achievement .counter-box p {
            color: #000;
        }

@media screen and (max-width: 767px) and (min-width: 480px) {
    .achievement .counter-box:first-child + div,
    .achievement .counter-box:first-child {
        min-width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .achievement .counter-box {
        min-width: 100%;
    }
}


/* Spots light slider content */

.jobspotlight-panel {
    padding-bottom: 0;
}

.job-spotlight p {
    color: #fff;
}

.myslideUl a.btn-link {
    color: #53ea95;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 3px;
    margin-bottom: 30px;
}

    .myslideUl a.btn-link:hover {
        color: #fff;
        text-decoration: none;
    }

.showbiz-slider-inner .apply-button {
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    opacity: 0;
    transition: opacity ease-in-out 0.15ms;
}

.showbiz-slider-inner:hover .apply-button {
    opacity: 1;
}

.spot-light-banner-active .showbiz-slider-inner {
    border: 0;
}

.spot-light-banner-active img.custom-img1 {
    border: 3px solid #53ea95;
    padding: 5px;
}

.showbiz-slider-inner:hover .apply-button .btn-text {
    background: #000;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.spotlight-title {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    margin-top: 0;
    line-height: 1.2;
}

    .spotlight-title a:hover,
    .spotlight-title a {
        color: #53ea95;
        text-decoration: none;
    }

.spotlight-detail-list {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

    .spotlight-detail-list li {
        color: #fff;
        margin: 5px 0;
        line-height: 1.2;
        display: flex;
        align-items: center;
    }

        .spotlight-detail-list li .fa {
            width: 30px;
            margin-right: 5px;
            text-align: center;
            font-size: 18px;
        }

span.part-time {
    background: #fff;
    font-size: 10px;
    color: #000;
    padding: 2px 5px;
    border-radius: 3px;
    line-height: 1;
    vertical-align: middle;
}

.showbiz-slider-inner {
    border: 1px solid rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
}

/* showbiz slider */
.showbiz-container {
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

.showbiz-slider {
    cursor: default;
    position: relative;
    width: 355px;
    height: 250px;
    overflow: hidden;
}

.showbiz {
    width: 100%;
    height: 100%;
}

    .showbiz .overflowholder {
        height: 100%;
    }

.myslideUl {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.job-lists {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

    .job-lists.two-column {
        flex-direction: row;
        flex-wrap: wrap;
    }

.job-lists-item {
    padding-top: 7px;
    padding-bottom: 7px;
    .close-list-item
}

.job-list-content {
    background-color: #fff;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.10);
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: flex-start;
    height: 100%;
}

    .job-list-content .company {
        border: 1px solid #f1f1f1;
        padding: 5px;
    }

.job-lists-item .company-logo {
    display: inline-block;
}

.job-lists-item .responsive-img {
    max-width: 100%;
}

.listings-container .listing-item {
    display: inline-block;
}

.job-list-details {
}

.job-discription {
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
}

    .job-discription li {
        font-size: 13px;
        line-height: 1.5;
        color: #676565
    }

        .job-discription li:before {
            content: '-';
            margin-right: 5px;
        }

.job-list-details h4 {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
    padding: 0 0 8px;
    text-transform: capitalize;
}

    .job-list-details h4 .listing-item {
        color: #26ae61;
    }

        .job-list-details h4 .listing-item:hover {
            text-decoration: none;
        }

.job-list-details .listing-type {
    font-size: 9px;
    background: #000;
    border-radius: 3px;
    color: #fff;
    padding: 2px 5px;
    text-transform: uppercase;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
}

.employers {
    margin-bottom: 30px;
}

.employer-lists {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.employer-lists-item {
    display: flex;
    background-color: #f5f5f5;
    padding: 0;
    margin-bottom: 2px;
}

    .employer-lists-item h4 {
        font-size: 16px;
        font-weight: 800;
    }

.employer-lists-item-link {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: #2b9057;
}

    .employer-lists-item-link .follow-btn {
        margin-left: auto;
    }

    .employer-lists-item-link:hover {
        color: #000;
        text-decoration: none;
    }

        .employer-lists-item-link:hover .follow-btn {
            border: 1px solid #2b9057;
            background-color: #2b9057;
            color: #fff;
        }

    .employer-lists-item-link .count {
        background: #2b9057;
        color: #fff;
        line-height: 1;
        padding: 2px 5px;
        border-radius: 3px;
        margin-left: 10px;
    }

@media screen and (min-width: 767px) {
    .employer-lists .employer-lists-item:nth-child(2n+1) {
        border-right: 2px solid #fff;
    }
}

/* Footer section style*/
.footer {
    background-color: #565656;
}

    .footer .footer-links {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 13px;
    }

        .footer .footer-links li {
            margin: 5px 0;
        }

        .footer .footer-links a {
            color: #d2d2d2;
        }

            .footer .footer-links a:hover {
                color: #fff;
                text-decoration: none;
            }

    .footer .video-panel {
        background-color: #f2f2f2;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .footer .footer-top {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .footer .footer-bottom {
        background-color: #717070;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer .footer-top h3 {
        padding-top: 20px;
        margin-bottom: 5px;
        padding-bottom: 0;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0;
    }

.footer-bottom p {
    margin-bottom: 0;
    color: #b7b5b5;
    font-size: 13px;
}

    .footer-bottom p a {
        color: #d2d2d2;
        text-decoration: underline;
        font-weight: 800;
    }

.social-icons {
    list-style: none;
    margin: 0;
    padding: 5px 0 0;
    display: flex;
    flex-wrap: nowrap;
}

    .social-icons li {
        margin-right: 5px;
    }

    .social-icons a {
        width: 32px;
        height: 32px;
        background-color: #d2d2d2;
        color: #000;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

        .social-icons a:hover {
            background-color: #26ae61;
            color: #fff;
            text-decoration: none;
        }

/* Footer Style end */

.showbiz img {
    max-width: 100%;
}

body[data-menu-position="closed"] .menu-trigger {
    order: 0;
    margin-left: auto;
    margin-right: 0;
}

    body[data-menu-position="closed"] .menu-trigger .open-menu {
        opacity: 1;
    }

    body[data-menu-position="closed"] .menu-trigger .close-menu {
        opacity: 0;
    }

body[data-menu-position="closed"] #jPanelMenu-menu {
    opacity: 0;
    pointer-events: all;
}

body[data-menu-position="closed"] .jPanelMenu-panel:after {
    display: none;
}


/* Login Registration screen */
.screen-height {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 450px;
    padding: 40px 70px;
    background: rgba(0,0,0,0.06);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .login-form {
        width: 100%;
        padding: 40px;
    }
}

.spacer-top-20 {
    padding-top: 20px !important;
}

.spacer-top-10 {
    padding-top: 10px !important;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form .social-icons {
    justify-content: center;
}

    .login-form .social-icons a {
        width: 100px;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
    }

    .login-form .social-icons .facebook {
        background-color: #38529a;
    }

    .login-form .social-icons .gplus {
        background-color: #d64936;
    }

label.input-label {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
}

.form-control.input-elements {
    border-radius: 3px;
    box-shadow: none;
    min-height: 40px;
}

.min-width-100 {
    min-width: 100%
}

.quick-links {
    color: #26ae61;
    font-size: 13px;
    text-decoration: underline;
}

    .quick-links:hover {
        color: #26ae61;
        text-decoration: none;
    }

.login-form .nav-tabs {
    border-bottom: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.login-form .nav > li > a {
    padding: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #656565;
    font-size: 13px;
}

.nav-tabs > li {
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: 5px solid transparent;
}

    .nav-tabs > li.active {
        border-bottom: 5px solid #2b9057;
    }

        .nav-tabs > li.active a {
            color: #2b9057;
            border: 0;
            background-color: transparent;
        }

            .nav-tabs > li.active a:hover,
            .nav-tabs > li.active a:focus {
                background-color: transparent;
                border-width: 0;
                border-color: transparent;
                box-shadow: none;
            }

/*Banne style*/

.banner-bg {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

    .banner-bg h2.whitetitle {
        font-size: 45px;
        font-weight: 800;
        margin: 0;
        padding: 0;
        letter-spacing: -2px;
    }

        .banner-bg h2.whitetitle:after {
            display: none;
        }

@media screen and (max-width: 1024px) {
    .banner-bg h2.whitetitle {
        font-size: 38px;
        letter-spacing: -1px;
    }

    .banner-bg {
        min-height: 25vh;
    }
}

@media screen and (max-width: 767px) {
    .banner-bg h2.whitetitle {
        font-size: 30px;
    }

    .banner-bg {
        min-height: 20vh;
    }
}



.title-bdr-black-4 {
}

.banner-bg:before {
    background-color: rgba(0,0,0,0.4);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.link-lists {
    list-style: none;
    margin: 0;
    padding: 20px 0 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

    .link-lists li {
        margin: 5px;
        display: inline-flex;
    }

        .link-lists li a {
            color: #fff;
            font-weight: 400;
            text-decoration: none;
            font-size: 14px;
            padding: 6px 15px;
            border-radius: 25px;
        }

            .link-lists li a:hover {
                text-decoration: none;
            }

    .link-lists.black-bg a {
        background-color: #000;
    }

    .link-lists.green-bg a {
        background-color: #2b9057;
    }

    .link-lists.black-bg a:hover {
        background-color: #565656;
    }

    .link-lists.green-bg a:hover {
        background-color: #1d6b3f;
    }

    .link-lists.white-bg a {
        background-color: rgba(255,255,255,0.4);
        color: #000;
    }

        .link-lists.white-bg a:hover {
            background-color: rgba(255,255,255,0.6);
        }

.titlebar-inner {
    position: relative;
    z-index: 2;
}

.responsive-img {
    max-width: 100%;
}

.graypanel {
    background-color: #f1f1f1
}

.pagination-next-prev ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}


/* Profile nav UI */

.dashboard-nav {
    min-width: 300px;
    max-width: 300px;
    z-index: 2;
    transition: all ease-in-out 0.15ms;
    background-color: #e6e5e5;
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    overflow: auto;
}

    .dashboard-nav:before {
        content: '';
        left: 0;
        top: 0;
        position: fixed;
        bottom: 0;
        right: 300px;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }

    .dashboard-nav.active {
        right: 0;
        transition: right ease-in-out 0.60ms;
    }

        .dashboard-nav.active:before {
            display: flex;
        }

    .dashboard-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

        .dashboard-nav ul li {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            margin-bottom: 1px;
        }

    .dashboard-nav > ul > li > span.sublink-item,
    .dashboard-nav > ul > li > a {
        background-color: #d4d3d3;
        padding: 8px 15px;
        width: 100%;
        color: #000;
        text-transform: uppercase;
        font-weight: 800;
    }

        .dashboard-nav > ul > li > span.sublink-item:hover,
        .dashboard-nav > ul > li > a:hover {
            text-decoration: none;
            color: #2b9057;
        }

        .dashboard-nav > ul > li > span.sublink-item:hover {
            background-color: rgba(0,0,0,0.1);
        }

    .dashboard-nav ul.subnav-list a {
        color: rgba(0,0,0,0.5);
        padding: 5px 15px 5px 30px;
        color: #000;
        background: #f2f2f2;
    }

.dashboard-responsive-nav-trigger {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: 1px solid #f1f1f1;
    background-color: #2b9057;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    float: left;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
    padding: 10px;
    float: left;
    z-index: 3;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.15ms;
}


    .dashboard-responsive-nav-trigger .nav-bdr,
    .dashboard-responsive-nav-trigger .nav-bdr:before,
    .dashboard-responsive-nav-trigger .nav-bdr:after {
        height: 2px;
        width: 30px;
        background-color: #fff;
    }

    .dashboard-responsive-nav-trigger .nav-bdr {
        position: relative;
    }

        .dashboard-responsive-nav-trigger .nav-bdr:before,
        .dashboard-responsive-nav-trigger .nav-bdr:after {
            position: absolute;
            left: 0;
            content: '';
            height: 2px;
            width: 30px;
            background-color: #fff;
            transition: all ease-in-out 0.15ms;
        }

        .dashboard-responsive-nav-trigger .nav-bdr:before {
            top: -8px;
        }

        .dashboard-responsive-nav-trigger .nav-bdr:after {
            bottom: -8px;
        }

    .dashboard-responsive-nav-trigger.active .nav-bdr {
        background-color: transparent;
    }

        .dashboard-responsive-nav-trigger.active .nav-bdr:after,
        .dashboard-responsive-nav-trigger.active .nav-bdr:before {
            top: 50%;
            bottom: 0
        }

        .dashboard-responsive-nav-trigger.active .nav-bdr:before {
            transform: rotate(45deg);
        }

        .dashboard-responsive-nav-trigger.active .nav-bdr:after {
            transform: rotate(-45deg);
        }

@media screen and (min-width: 992px) {
    .dashboard-responsive-nav-trigger {
        display: none;
    }

    .dashboard-nav {
        display: inline-block;
        position: static;
    }
}

.breadcrumb {
    background-color: transparent;
    padding: 3px 0;
}

    .breadcrumb > li {
        line-height: 1;
        font-size: 13px;
    }

        .breadcrumb > li a {
            color: #000;
        }

.dashboard-stats {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-stat {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    flex-direction: column;
    padding-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 767px) and (min-width: 650px) {
    .dashboard-stat {
        max-width: 25%;
    }
}

.dashboard-stat .counter {
    font-size: 60px;
}

.dashboard-stat.color-1 {
    background-color: #2b9057;
}

.dashboard-stat.color-2 {
    background-color: #356a9e;
}

.dashboard-stat.color-3 {
    background-color: #cc7b36
}

.dashboard-stat.color-4 {
    background-color: #712298;
}

.listing-type-contents {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listing-type-contents-item {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


.activity-lists {
    margin: 0;
    padding: 0;
    list-style: none;
}

.activity-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    background-color: #f1f1f1;
    margin-bottom: 1px;
    align-items: flex-start;
}

    .activity-list-item .msg-content {
        flex: 1 1 auto;
        padding-left: 8px;
        padding-right: 8px;
    }

.close-list-item {
    min-width: 25px;
    height: 25px;
    text-align: center;
    color: #c75555;
    opacity: 0.6;
}

.activity-list-item:hover .close-list-item {
    opacity: 1;
}

.activity-list-item .msg-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
}

.activity-list-item .msg-content a {
    font-weight: 800;
    font-size: 13px;
    color: #313131;
    text-decoration: underline;
}

    .activity-list-item .msg-content a:hover {
        text-decoration: none;
    }

.package-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.package-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 20px;
    border-left: 4px solid #2b9057;
    background-color: #f1f1f1;
}

    .package-item h3 {
        font-size: 16px;
        font-weight: 800;
        margin-top: 0;
    }


/* 2 column layout container*/

@media screen and (max-width: 767px) {
    .body-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media screen and (max-width: 991px) {
    .mobile-full-screen {
        max-width: 100%;
    }
}

.margin-top-20 {
    margin-top: 20px;
}

.table-responsive {
    border-top: 0px;
}

.table > tbody > tr > th {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table > tbody > tr > td {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .table > tbody > tr > td a {
        color: #2b9057;
        text-decoration: underline;
    }

        .table > tbody > tr > td a:hover {
            text-decoration: none;
        }



a.employer-website {
    font-size: 13px;
    color: #fff;
    text-decoration: underline;
}

    a.employer-website:hover {
        text-decoration: none
    }

.job-title {
    background: #fff;
    padding: 3px 8px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
}

    .job-title:hover {
        text-decoration: none;
    }

.job-type {
    font-size: 13px;
    letter-spacing: 0;
    background: #000;
    padding: 2px 8px;
    border-radius: 3px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
}

.employer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e2e2;
    padding-top: 15px;
    padding-bottom: 15px;
}


.job-skills {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.job-skill {
    background: rgba(0,0,0,0.1);
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.shareon-icon {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .shareon-icon li {
        margin-right: 8px;
        font-size: 18px;
    }

        .shareon-icon li:last-child {
            margin-right: 0;
        }

    .shareon-icon .labeltext {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800;
    }

    .shareon-icon li a {
        color: #fff;
        background-color: #2b9057;
        text-decoration: none;
        width: 28px;
        height: 28px;
        display: inline-flex;
        font-size: 15px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        line-height: 1;
    }

        .shareon-icon li a:hover {
            text-decoration: none;
            background-color: #000;
        }

.subtitleblack {
    font-size: 15px;
    font-weight: 800;
    color: #000;
}

.job-overview {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .job-overview li {
        margin-top: 10px;
    }

        .job-overview li strong {
            font-size: 14px;
            color: rgba(0,0,0,0.4);
        }

        .job-overview li span {
            font-size: 13px;
            color: #000;
        }


.google-map-container {
    height: 400px;
    border: 2px solid #ccc;
}

    .google-map-container .google-map {
        height: 100%
    }


.info-block {
    border-left: 5px solid #26ae61;
    text-align: left;
    flex: auto;
    font-size: 14px;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: 30px;
}

.usrProfile {
    background-color: #e4ece8;
    padding-bottom: 10px;
}

.changeimage {
    font-size: 10px;
    line-height: 1.8;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.profile-img {
    flex-direction: column;
    display: flex;
    width: 110px;
    align-items: center;
}

.profile-details {
    padding-bottom: 15px;
    padding-top: 15px;
}

.user-img {
    width: 80px;
    height: 80px;
    display: inline-flex;
    border: 2px solid rgba(0,0,0,0.2);
    background-color: #fff;
    align-items: center;
}

.verified-mark {
    width: 22px;
}

.profile-score {
    position: absolute;
    bottom: 0;
    height: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.progress {
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
}

.progress-bar {
    background-color: #26ae61;
}

.profile-info-text {
    font-size: 13px;
    line-height: 1.2;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.profile-info-text .profile-info {
    margin-top: 5px;
    color: #000;
    white-space: nowrap;
    word-break: keep-all;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.profile-info-text .profile-info input[type="checkbox"] {
    margin-top: 0;
    margin-left: 8px;
}
