@using JobPortal.Model.DataViewModel.Shared;

@model JobPortal.Model.DataViewModel.Shared.EmployeeViewModel

@{
    ViewData["Title"] = "Employer Registration";
}

@section header {
    <meta name="google-signin-client_id" content="959100024495-sshngggnec7htiprelkoqvb5f70l6afq.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/api:client.js" async defer></script>
}

<!-- Content
================================================== -->
<!-- Container -->
<div class="container screen-height home-screen-section">
    <div class="login-form">
        <h2 class="blacktitle">New Registration</h2>
        <div class="userbtns">
            <ul class="nav nav-tabs">
                <li class="@ViewBag.Active"><a data-toggle="tab" href="#employer" aria-expanded="false">Employer</a></li>
                <li class="@ViewBag.CActive"><a data-toggle="tab" href="#consultant" aria-expanded="true">Consultancy</a></li>
            </ul>
        </div>

        <div class="tab-content">
            @if (TempData["successMsg"] != null)
            {
                <div class="alert alert-success" role="alert">@TempData["successMsg"]</div>
            }
            @if (TempData["errorMsg"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["errorMsg"]</div>
            }
            <div id="employer" class="tab-pane fade active in">
                <form autocomplete="off" method="post" class="login spacer-top-20" asp-action="EmployeeRegistration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CompanyName" class="input-label"> Company Name:</label>
                        <input type="text" class="form-control input-elements" asp-for="CompanyName" id="companyname" placeholder="CompanyName" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="input-label">
                            Official Email:
                        </label>
                        <input type="text" class="form-control input-elements" asp-for="Email" required id="email" placeholder="Office Email" autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="input-label">
                            Password:
                        </label>
                        <input class="form-control input-elements" type="password" asp-for="Password" required id="password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile" class="input-label">
                            Mobile:
                        </label>
                        <input type="number" maxlength="10" class="form-control input-elements" asp-for="Mobile" required id="mobile" placeholder="Mobile" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group spacer-top-20">
                        <input type="submit" class="btn btn-block btn-primary" name="register" value="Register" />
                    </div>
                </form>
                <ul class="social-icons">
                    <li>
                        <a class="facebook" href="javascript:void(0)" onclick="checkEmployeeLoginState();"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a class="gplus" id="employersignin" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div id="consultant" class="tab-pane fade">
                <form autocomplete="off" method="post" class="login spacer-top-20" asp-action="ConsultancyRegistration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CompanyName" class="input-label">
                            Consultancy Name:
                        </label>
                        <input type="text" class="form-control input-elements" asp-for="CompanyName" placeholder="Consultancy Name" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="input-label">
                            Official Email:
                        </label>
                        <input type="text" class="form-control input-elements" asp-for="Email" placeholder="Office Email" autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="input-label">
                            Password:
                        </label>
                        <input class="form-control input-elements" type="password" asp-for="Password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile" class="input-label">
                            Mobile:
                        </label>
                        <input type="number" maxlength="10" class="form-control input-elements" asp-for="Mobile" placeholder="Mobile" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group spacer-top-20">
                        <input type="submit" class="btn btn-primary btn-block" name="register" value="Register" />
                    </div>
                </form>
                <ul class="social-icons">
                    <li>
                        <a class="facebook" href="javascript:void(0)" onclick="checkConsultancyLoginState();"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a class="gplus" id="consultantsignin" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div id="fb-root"></div>

@section Scripts
    {
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@

    <script>
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '959100024495-sshngggnec7htiprelkoqvb5f70l6afq.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
            });
            attachSignin(document.getElementById('employersignin'));
            attachSignin(document.getElementById('consultantsignin'));
        });
        function attachSignin(element) {
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    empGoogleRegistration(googleUser, element.id);
                }, function (error) {
                    console.log(JSON.stringify(error, undefined, 2));
                });
        }
        function empGoogleRegistration(response, id) {
            debugger;
            if (response.getAuthResponse().id_token) {
                var accessToken = response.getAuthResponse().id_token;
                if (id === 'consultantsignin') {

                    SendAJAXRequest(`/Auth/ConsultantGoogleRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                        if (resp && resp.isSuccess) {
                            InformationDialog('Information', 'Registration Successfull!');
                        } else {
                            ErrorDialog('Warning', resp.msg);
                        }
                    });
                } else {

                    SendAJAXRequest(`/Auth/EmpGoogleRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                        if (resp && resp.isSuccess) {
                            InformationDialog('Information', 'Registration Successfull!');
                        } else {
                            ErrorDialog('Warning', resp.msg);
                        }
                    });
                }
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        }
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '544734402958846',
                cookie: true,
                xfbml: true,
                version: 'v8.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkConsultancyLoginState() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    statusChangeCallbackForEmployee(response);
                }
            }, { scope: 'public_profile,email' });
        }
        function statusChangeCallbackForEmployee(response) {
            var accessToken = response.authResponse.accessToken;
            SendAJAXRequest(`/Auth/FBEmpRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                if (resp && resp.isSuccess) {
                    InformationDialog('Information', 'Registration Successfull!');
                } else {
                    ErrorDialog('Warning', 'Email already exist!');
                }
            });
        }
        function checkConsultancyLoginState() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    statusChangeCallbackForConsultancy(response);
                }
            }, { scope: 'public_profile,email' });
        }
        function statusChangeCallbackForConsultancy(response) {
            var accessToken = response.authResponse.accessToken;
            SendAJAXRequest(`/Auth/FBConsultantRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                if (resp && resp.isSuccess) {
                    InformationDialog('Information', 'Registration Successfull!');
                } else {
                    ErrorDialog('Warning', 'Email already exist!');
                }
            });
        }
    </script>
}