@using JobPortal.Model.DataViewModel.Shared;
@{
    ViewData["Title"] = "Employer Login";
}
@model UserViewModel


@section header {
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180162012-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-180162012-1');
    </script>

}

<!-- Content
================================================== -->
<!-- Container -->
<div class="container screen-height home-screen-section">
    <div class="login-form">
        <h2 class="blacktitle">Employer Login</h2>
        <form method="post" class="login spacer-top-20" action="/Auth/Login">
            <div class="form-group">
                <label for="username" class="input-label">
                    Username:
                </label>
                <input type="text" class="form-control input-elements" asp-for="Email" required name="Email" id="Email" placeholder="Enter Email" />
            </div>
            <div class="form-group">
                <label for="password" class="input-label">
                    Password:
                </label>
                <input class="form-control input-elements" type="password" asp-for="Password" required name="password" id="password" placeholder="Enter Password" />
                <p class="text-right"> <a href="/Auth/ForgotPassword" class="quick-links">Lost Your Password?</a></p>
            </div>
            <div class="form-group spacer-top-20">
                <p>
                    <input type="submit" class="btn btn-primary btn-block" name="login" value="Login" />
                </p>
                <p class="text-center">
                    <a href="/Auth/EmployerRegistration" class="quick-links text-uppercase">Register</a>
                </p>
            </div>
        </form>
    </div>
</div>