@using JobPortal.Model.DataViewModel.Shared;

@model UserViewModel

<div class="container screen-height home-screen-section">
    <div class="login-form">
        <h2 class="blacktitle">Forgot Password?</h2>
        @if (Convert.ToString(@ViewData["SuccessMessage"]) == "User not found")
        {
            <div class="alert alert-danger" role="alert">Email is not registerd with us</div>
        }
        else if (Convert.ToString(@ViewData["SuccessMessage"]) == "data not found")
        {
            <div class="alert alert-danger" role="alert">Email is not registerd with us</div>
        }
        else if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
        {
            <div class="alert alert-success" role="alert">@ViewData["SuccessMessage"]</div>
        }
        <form class="login spacer-top-20" asp-action="ForgotPassword" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="username" class="input-label">
                        Email
                    </label>

                    <input type="email" asp-for="Email" name="email" size="100" class="form-control input-elements" placeholder="Email" typeof="email" required>
                </div>
                <div class="form-group spacer-top-20">
                    <p>
                        <input class="btn btn-primary btn-block" value="Submit" type="submit">
                    </p>
                </div>
            </fieldset>
        </form>
    </div>
</div>

