@using JobPortal.Model.DataViewModel.Shared;
@{
    ViewData["Title"] = "Job Seeker Login";
}
@model UserViewModel
<!-- Content
================================================== -->
<!-- Container -->
<div class="container screen-height home-screen-section">
    <div class="login-form">
        <h2 class="blacktitle">Job Seeker Login</h2>
        <div asp-validation-summary="All" class="text-danger-custom"></div>
        <form method="post" class="login spacer-top-20" asp-action="Login">
            <div class="form-group">
                <label for="username" class="input-label">
                    Username
                </label>
                <input type="text" class="form-control input-elements" required asp-for="Email" id="Email" value="" placeholder="Enter Email" />
            </div>
            <div class="form-group">
                <label for="password" class="input-label">
                    Password
                </label>
                <input class="form-control input-elements" type="password" required asp-for="Password" id="password" placeholder="Enter Password" />
                <p class="text-right"><a href="/Auth/ForgotPassword" class="quick-links">Lost Your Password?</a></p>
            </div>
            <div class="form-group spacer-top-20">
                <p>
                    <input type="submit" class="btn btn-primary btn-block" name="login" value="Login" />
                </p>
                <p class="text-center"> <a href="/Auth/JobseekerRegistration" class="quick-links text-uppercase">Register</a></p>
            </div>
        </form>
    </div>
</div>