@using JobPortal.Model.DataViewModel.Shared;

@model JobPortal.Model.DataViewModel.Shared.JobSeekerViewModel;

@{
    ViewData["Title"] = "Jobseeker Registration";
}

<style>
    span.text-danger {
        color: red !important;
    }

    .header {
        box-shadow: 0 12px 0 rgba(0,0,0,.12) !important;
    }
</style>
@section header {
    <meta name="google-signin-client_id" content="341141713204-tu361b8fe8gv41r9il92obeqqqlbr4pf.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/api:client.js" async defer></script>
}
<!-- Titlebar
================================================== -->
<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="my-account">
        <div class="tabs-container">
            @if (TempData["successMsg"] != null)
            {
                <p style="color:green;font-weight:bold">@TempData["successMsg"]</p>
            }
            @if (TempData["errorMsg"] != null)
            {
                <p style="color:red;font-weight:bold">@TempData["errorMsg"]</p>
            }
            <!-- Register -->
            <div class="tab-content" id="tab2">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="socialmedia">
                            Register Via:
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <ul class="social-icons">
                            <li>                                
                                <a class="facebook" href="javascript:void(0)" onclick="checkLoginState();"><i class="icon-facebook"></i></a>
                            </li>
                            <li><a class="gplus" id="signin" href="javascript:void(0)"><i class="icon-gplus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <form autocomplete="off" method="post" class="register" asp-action="/Auth/JobseekerRegistration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row form-row-wide">
                        <label asp-for="FirstName">
                            First Name:
                            <i class="ln ln-icon-Male"></i>
                            <input type="text" class="input-text" asp-for="FirstName" id="Firstname" placeholder="FirstName" />
                        </label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-row form-row-wide">
                        <label asp-for="LastName">
                            Last Name:
                            <i class="ln ln-icon-Male"></i>
                            <input type="text" class="input-text" asp-for="LastName" id="Lastname" placeholder="LastName" />
                        </label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    @*<p class="form-row" >
                            <label>
                                Gender:
                                <input type="radio" asp-for="Gender" value="Male" />Male
                                <input type="radio" asp-for="Gender" value="Female"/>Female
                            </label>
                        </p>*@

                    <div class="form-row form-row-wide">
                        <label asp-for="Email">
                            Email Address:
                            <i class="ln ln-icon-Mail"></i>
                            <input type="text" class="input-text" asp-for="Email" id="email" placeholder="Email" />
                        </label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-row form-row-wide">
                        <label asp-for="Password">
                            Password:
                            <i class="ln ln-icon-Lock-2"></i>
                            <input class="input-text" type="password" asp-for="Password" placeholder="Password" />
                        </label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    @*<div class="form-row form-row-wide">
                            <label asp-for="TotalExperience">
                                Experiance:
                                <i class="ln ln-icon-Mouse-2"></i>
                                <input type="number" class="input-text" asp-for="TotalExperience" placeholder="Experience in years" />
                            </label>
                            <span asp-validation-for="TotalExperience" class="text-danger"></span>
                        </div>*@
                    <div class="form-row form-row-wide">
                        <label for="Mobile">
                            Mobile:
                            <i class="ln ln-icon-Smartphone"></i>
                            <input type="number" maxlength="10" class="input-text" asp-for="MobileNo" placeholder="Mobile" />
                        </label>
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                    @*<div class="form-row form-row-wide">
                            <label asp-for="Skills">
                                Skills:
                                <i class="ln ln-icon-Wrench"></i>
                                <input type="text" class="input-text" asp-for="Skills" id="Skills" placeholder="skills" />
                            </label>
                            <span asp-validation-for="Skills" class="text-danger"></span>
                        </div>*@
                    @*<div class="form-row form-row-wide">
                            <label asp-for="Industry">
                                Industry:
                                <i class="ln ln-icon-Building"></i>
                                <input type="text" class="input-text" asp-for="Industry" id="JobIndustryArea" placeholder="Industry" />
                            </label>
                            <span asp-validation-for="Industry" class="text-danger"></span>
                        </div>*@
                    @*<div class="form-row form-row-wide">
                            <label asp-for="PreferredLocation">
                                Preferred Location:
                                <i class="ln ln-icon-Map-Marker2"></i>
                                <input type="text" class="input-text" asp-for="PreferredLocation" placeholder="Location" />
                            </label>
                            <span asp-validation-for="PreferredLocation" class="text-danger"></span>
                        </div>*@
                    <div class="form-row">
                        <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
@section Scripts
    {

    <script>
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '341141713204-tu361b8fe8gv41r9il92obeqqqlbr4pf.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
            });
            attachSignin(document.getElementById('signin'));
        });
        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    googleRegistration(googleUser);
                }, function (error) {
                    console.log(JSON.stringify(error, undefined, 2));
                });
        }
        //function onSignIn(googleUser) {
        //    var profile = googleUser.getBasicProfile();
        //    var id_token = googleUser.getAuthResponse().id_token;
        //    console.log(id_token);
        //    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        //    console.log('Name: ' + profile.getName());
        //    console.log('Image URL: ' + profile.getImageUrl());
        //    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        //    googleRegistration(id_token);
        //}
        function googleRegistration(response) {
            if (response.getAuthResponse().id_token) {
                var accessToken = response.getAuthResponse().id_token;
                SendAJAXRequest(`/Auth/GoogleJobseekerRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                    if (resp && resp.isSuccess) {
                        //console.log('Success');
                        InformationDialog('Information', 'Registration Successfull!');
                    } else {
                        ErrorDialog('Warning', 'Invalid Credential!');
                    }
                });
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        }
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '544734402958846',
                cookie: true,
                oauth: true,
                status: true,
                xfbml: true,
                version: 'v8.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    statusChangeCallback(response);
                }
            }, { scope: 'public_profile,email' });
        }
        function statusChangeCallback(response) {
            var accessToken = response.authResponse.accessToken;
            SendAJAXRequest(`/Auth/FBJobseekerRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                if (resp && resp.isSuccess) {
                    //console.log('Success');
                    InformationDialog('Information', 'Registration Successfull!');
                } else {
                    ErrorDialog('Warning', 'Email already exist!');
                }
            });
        }
    </script>
}
