@using JobPortal.Model.DataViewModel.Shared;

@model JobPortal.Model.DataViewModel.Shared.JobSeekerViewModel;

@{
    ViewData["Title"] = "Jobseeker Registration";
}


@section header {
    <meta name="google-signin-client_id" content="959100024495-sshngggnec7htiprelkoqvb5f70l6afq.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/api:client.js" async defer></script>
}

<!-- Content
================================================== -->
<!-- Container -->
<div class="container screen-height home-screen-section">
    <div class="login-form">
        <h2 class="blacktitle">New Registration</h2>

        @if (TempData["successMsg"] != null)
        {
            <div class="alert alert-success" role="alert">@TempData["successMsg"]</div>
        }
        @if (TempData["errorMsg"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["errorMsg"]</div>
        }

        <form autocomplete="off" method="post" class="login spacer-top-20" asp-action="/Auth/JobseekerRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="input-label">
                    First Name:
                </label>
                <input type="text" class="form-control input-elements" asp-for="FirstName" required id="Firstname" placeholder="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="input-label">
                    Last Name:
                </label>
                <input type="text" class="form-control input-elements" asp-for="LastName" required id="Lastname" placeholder="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="input-label">
                    Email Address:
                </label>
                <input type="text" class="form-control input-elements" asp-for="Email" required id="email" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="input-label">
                    Password:
                </label>
                <input class="form-control input-elements" type="password" asp-for="Password" required placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Mobile" class="input-label">
                    Mobile:
                </label>
                <input type="number" maxlength="10" min="0" class="form-control input-elements" required asp-for="MobileNo" placeholder="Mobile" onblur="PhoneLengthValidation(this)" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group spacer-top-20">
                <input type="submit" class="btn btn-primary btn-block" required name="register" value="Register" />
            </div>
        </form>
        <ul class="social-icons">
            <li>
                <a class="facebook" href="javascript:void(0)" onclick="checkLoginState();"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a class="gplus" id="signin" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
</div>
<div id="fb-root"></div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            //SpecialChar('#Firstname');
            //SpecialChar('#Lastname');
        });

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script>
        window.onLoadCallback = function () {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '959100024495-sshngggnec7htiprelkoqvb5f70l6afq.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                });
                attachSignin(document.getElementById('signin'));
            });
        };
        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    googleRegistration(googleUser);
                }, function (error) {
                    console.log(JSON.stringify(error, undefined, 2));
                });
        }
        //function onSignIn(googleUser) {
        //    var profile = googleUser.getBasicProfile();
        //    var id_token = googleUser.getAuthResponse().id_token;
        //    console.log(id_token);
        //    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        //    console.log('Name: ' + profile.getName());
        //    console.log('Image URL: ' + profile.getImageUrl());
        //    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        //    googleRegistration(id_token);
        //}
        function googleRegistration(response) {
            if (response.getAuthResponse().id_token) {
                var accessToken = response.getAuthResponse().id_token;
                SendAJAXRequest(`/Auth/JobseekerGoogleRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                    if (resp && resp.isSuccess) {
                        //console.log('Success');
                        InformationDialog('Information', 'Registration Successfull!');
                    } else {
                        ErrorDialog('Warning', resp.msg);
                    }
                });
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        }
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '544734402958846',
                cookie: true,
                oauth: true,
                status: true,
                xfbml: true,
                version: 'v8.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    statusChangeCallback(response);
                }
            }, { scope: 'public_profile,email' });
        }
        function statusChangeCallback(response) {
            var accessToken = response.authResponse.accessToken;
            SendAJAXRequest(`/Auth/FBJobseekerRegistration/`, 'POST', accessToken, 'JSON', (resp) => {
                if (resp && resp.isSuccess) {
                    //console.log('Success');
                    InformationDialog('Information', 'Registration Successfull!');
                } else {
                    ErrorDialog('Warning', 'Email already exist!');
                }
            });
        }
    </script>
}

