@using JobPortal.Model.DataViewModel.Shared;

@model UserViewModel;

@{
    ViewData["Title"] = "Registration";
}

<!-- Content
================================================== -->
<!-- Container -->
<div class="container screen-height home-screen-section">
    <div class="login-form">
        <h2 class="blacktitle">New Registration</h2>
        <form method="post" class="login spacer-top-20" action="/Auth/SubmitRegistration">
            <div class="form-group">
                <label for="Firstname" class="input-label">First Name</label>
                <input type="text" class="form-control input-elements" name="Firstname" id="Firstname" value="" />
            </div>
            <div class="form-group">
                <label for="Lastname" class="input-label">Last Name</label>
                <input type="text" class="form-control input-elements" name="Lastname" id="Lastname" value="" />
            </div>
            <div class="form-group">
                <label class="input-label">Gender</label>
                <div class="col-xs-12">
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="radio" name="Gender" value="Male" /><span class="">Male</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="Gender" value="Female" /><span class="">Female</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="input-label">Email Address</label>
                <input type="text" class="form-control input-elements" name="email" id="email" value="" />
            </div>
            <div class="form-group">
                <label for="password" class="input-label">Password</label>
                <input class="form-control input-elements" type="password" name="password" id="password" />
            </div>
            <div class="form-group">
                <label for="Experience" class="input-label">Experiance</label>
                <input type="number" min="0" max="10" class="form-control input-elements" name="TotalExperience" id="Experience" value="" />
            </div>
            <div class="form-group">
                <label for="mobile" class="input-label">Mobile</label>
                <input type="number" maxlength="10" class="form-control input-elements" name="MobileNo" id="mobile" value="" />
            </div>
            <div class="form-group">
                <label for="skills" class="input-label">Skills</label>
                <input type="text" class="form-control input-elements" name="Skills" id="Skills" value="" />
            </div>
            <div class="form-group">
                <label for="JobIndustryArea" class="input-label">Industry</label>
                <input type="text" class="form-control input-elements" name="JobIndustryArea" id="JobIndustryArea" value="" />
            </div>
            <div class="form-group">
                <label for="PreferredLocation" class="input-label">Preferred Location</label>
                <input type="text" class="form-control input-elements" name="PreferredLocation1" id="PreferredLocation" value="" />
            </div>
            <div class="form-group spacer-top-20">
                <input type="submit" class="btn btn-primary btn-block" name="register" value="Register" />
            </div>
        </form>
        <ul class="social-icons">
            <li>
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</div>