
@{
    ViewData["Title"] = "About Us";
}
<style>
    p {
        font-size:17px !important;
    }
</style>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg)">
    <div class="container titlebar-inner">
        <h2 class="whitetitle">About Us</h2>
    </div>
</div>
<nav id="breadcrumbs" class="container">
    <ol class="breadcrumb">
        <li><a href="/Home/Index/">Home</a></li>
        <li>About Us</li>
    </ol>
</nav>
<!-- Content
================================================== -->
<div class="container">
    <div class="col-sm-5"><div class="row"><a href="#"><img src="~/images/aboutus.jpg" alt="" class="img-responsive"></a></div></div>
    <div class="col-sm-7">
        <h2 class="blacktitle">About Us </h2>
        <p>
            CareerIndeed is an Indian employment portal to provides opportunity who seeking jobs and employer who looking great talent to work with.
            We provides full bucket of Job seeking, career management, product management services and more.
        </p>
        <div class="post-quote">
            <blockquote>
                Our vision at <strong>CareerIndeed</strong> is to be Great leading platform for employer and jobseeker to provide great connection.
            </blockquote>
        </div>
        <div class="post-quote">
            <blockquote>
                Our mission at <strong>CareerIndeed</strong> We are best in great leading hiring agency, platform and technology for join jobs and people. We do our best and 24/7 to get our customers hire and make sure that one find dream jobs.
            </blockquote>
        </div>
    </div>
    <h3 class="subheader">Why Careerindeed ?</h3>
    <p>
        We are with our sharp edge of tools provides matching profile to Companies and suitable job to jobseeker according industry, experience and skills.
        We provides not only best matching for jobseeker and employer but more than that with our process people can save time and money with streamline process.
    </p>
    <h3 class="subheader spacer-top-20">Careerindeed: </h3>
    <p>
        We are Noida India based company. Our clients are all over in India like (Delhi NCR, Mumbai, Bangalore, Hyderabad etc.).
        We have team for all our clients.
        We have own team for Research and development to make our product effective and accurate in performance.
    </p>
</div>
<div class="row home-screen-section">
    <div class="container">
        <h2 class="blacktitle">Got any questions?</h2>
        <p>If you are having any questions, please feel free to ask.</p>
        <p><a href="/Home/ContactUs#contact" class="quick-links text-uppercase">Drop Us a Line</a></p>
    </div>
</div>
