
@{
    ViewData["Title"] = "About Us";
}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url('/Assets/images/all-categories-photo.jpg')">
    <div class="container">
        <div class="sixteen columns">
            <h2 class="LoginHeading">About Us</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="/Home/Index/">Home</a></li>
                    <li>About Us</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="container">
    <div class="eleven columns">
        <div class="padding-right">
            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="#"><img src="~/images/aboutus.jpg" alt=""></a></div>
                <div class="post-content">
                    <h3>About Us </h3>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>
                    <p>
                        CareerIndeed is an Indian employment portal to provides opportunity who seeking jobs and employer who looking great talent to work with.
                        We provides full bucket of Job seeking, career management, product management services and more.
                    </p>
                    <div class="post-quote">
                        <span class="icon"></span>
                        <blockquote>
                            Our vision at <strong>CareerIndeed</strong> is to be Great leading platform for employer and jobseeker to provide great connection.
                        </blockquote>
                    </div>
                    <div class="post-quote">
                        <span class="icon"></span>
                        <blockquote>
                            Our mission at <strong>CareerIndeed</strong> We are best in great leading hiring agency, platform and technology for join jobs and people. We do our best and 24/7 to get our customers hire and make sure that one find dream jobs.
                        </blockquote>
                    </div>
                    <strong>Why Careerindeed ?</strong>
                    <p>
                        We are with our sharp edge of tools provides matching profile to Companies and suitable job to jobseeker according industry, experience and skills.<br />
                        We provides not only best matching for jobseeker and employer but more than that with our process people can save time and money with streamline process.
                    </p>
                    <strong>Careerindeed: </strong>
                    <p>
                        We are Noida India based company. Our clients are all over in India like (Delhi NCR, Mumbai, Bangalore, Hyderabad etc.).<br />
                        We have team for all to our clients.<br />
                        We have own team for Research and development to make our product effective and accurate in performance.

                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="five columns blog">
        <div class="widget">
            <h4>Got any questions?</h4>
            <div class="widget-box">
                <p>If you are having any questions, please feel free to ask.</p>
                <a href="/Home/ContactUs#contact" class="button widget-btn"><i class="fa fa-envelope"></i> Drop Us a Line</a>
            </div>
        </div>
        <div class="widget">
            <h3 class="margin-bottom-10">Information</h3>
            <div class="widget-box">
                <p>Due to the bespoke nature of our work, we would like to talk with you so that we can really get to grips with how you and your business work. That way, we can tailor a solution to both your requirements and your budget. </p>
                <ul class="contact-informations">
                    <li>C-76, Sector 63, </li>
                    <li>Noida - 201301 (U.P) India</li>
                </ul>
                <ul class="contact-informations second">
                    <li><i class="fa fa-phone"></i> <p>+91-120-455-4091, +91-981-155-9349</p></li>
                    <li><i class="fa fa-envelope"></i> <p><a href="http://www.vasterad.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b0ddd1d9dcf0d5c8d1ddc0dcd59ed3dfdd">info@careerindeed.in</a></p></li>
                    <li><i class="fa fa-globe"></i> <p>www.careerindeed.in</p></li>
                </ul>
            </div>
        </div>
        <div class="widget">
            <h4>Social</h4>
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div>


</div>
