
@{
    ViewData["Title"] = "About Us";
}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url('/Assets/images/all-categories-photo.jpg')">
    <div class="container">
        <div class="sixteen columns">
            <h2 class="LoginHeading">About Us</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="/Home/Index/">Home</a></li>
                    <li>About Us</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="container">
    <div class="eleven columns">
        <div class="padding-right">
            <!-- Post -->
            <div class="post-container">
                <div class="post-img"><a href="#"><img src="~/images/aboutus.jpg" alt=""></a></div>
                <div class="post-content">
                    <h3>About Us </h3>
                   <div class="clearfix"></div>
                    <div class="margin-bottom-25"></div>
                    <p>We deliver excellence in terms of dedicated and business-centric web solutions. We are specialists in terms of customized web services that meet Web 2.0 standards and accommodate scopes for futuristic support. Our team of expert web designers, network engineers, software developers, graphic designers and Search Engine Optimisers makes it possible to offer you wonderful web solutions that are both innovative and highly functional.</p>
                    <div class="post-quote">
                        <span class="icon"></span>
                        <blockquote>
                            Our goal at <strong>SteepRise</strong> is to innovate and provide advanced, quality products and solutions, along with the industry's leading customer service and support, all at affordable prices.
                        </blockquote>
                    </div>
                    <p><strong>SteepRise</strong> has a young dynamic and highly motivated team, which is skill-rich and ready to taken on new challenges. Our team is an excellent blend of techno-savvy engineers and business-savvy managers and has International exposure in terms of work culture and right business ethics. We are aware of our responsibility, and we appreciate the confidence our clients have placed in us to work on their websites or software applications.</p>
                    <p class="margin-reset">The team leaders have in-depth experience and knowledge and ensure that we consistently meet our commitments. With more than 2 years of experience in the industry, <strong>SteepRise</strong> has right experience and skills to facilitate world-class project delivery.</p>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="five columns blog">
        <div class="widget">
            <h4>Got any questions?</h4>
            <div class="widget-box">
                <p>If you are having any questions, please feel free to ask.</p>
                <a href="/Home/ContactUs#contact" class="button widget-btn"><i class="fa fa-envelope"></i> Drop Us a Line</a>
            </div>
        </div>
        <div class="widget">
            <h3 class="margin-bottom-10">Information</h3>
            <div class="widget-box">
                <p>Due to the bespoke nature of our work, we would like to talk with you so that we can really get to grips with how you and your business work. That way, we can tailor a solution to both your requirements and your budget. </p>
                <ul class="contact-informations">
                    <li>C-76, Sector 63, </li>
                    <li>Noida - 201301 (U.P) India</li>
                </ul>
                <ul class="contact-informations second">
                    <li><i class="fa fa-phone"></i> <p>+91-120-455-4091, +91-981-155-9349</p></li>
                    <li><i class="fa fa-envelope"></i> <p><a href="http://www.vasterad.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b0ddd1d9dcf0d5c8d1ddc0dcd59ed3dfdd">info@steeprise.com</a></p></li>
                    <li><i class="fa fa-globe"></i> <p>www.steeprise.com</p></li>
                </ul>
            </div>
            </div>
            <div class="widget">
                <h4>Social</h4>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
            <div class="margin-bottom-40"></div>
        </div>


    </div>
