@using JobPortal.Model.DataViewModel.Shared
@model UserViewModel
@{
    ViewData["Title"] = "Contact Us";
}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url('/Assets/images/all-categories-photo.jpg')">
    <div class="container">
         <div class="sixteen columns">
            <h2 class="LoginHeading">Contact Us</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="/Home/Index/">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="sixteen columns">
        <h3 class="margin-bottom-20">Our Office</h3>
        <!-- Google Maps -->
        <section class="google-map-container" style="border:1px solid gray">
            <div id="googlemaps" class="google-map google-map-full">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.4067654300834!2d77.38302791440682!3d28.617568591510324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce56197fc4865%3A0x2743b721b342a663!2sSteep%20Rise%20Infotech!5e0!3m2!1sen!2sin!4v1599125171214!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </section>
        <!-- Google Maps / End -->
    </div>
</div>
<!-- Container / End -->
<!-- Container -->
<div class="container">
    <div class="eleven columns">
        <h3 class="margin-bottom-15">Contact Us</h3>
        @{
            @if (ViewBag.Contact != null)
            {
                <div class="alert alert-success" role="alert"><label>@ViewBag.Contact</label></div>
            }
            @if (ViewBag.ContactError != null)
            {
                <div class="alert alert-danger" role="alert"><label>@ViewBag.ContactError</label></div>
            }
        }
        <!-- Contact Form -->
        <section id="contact" class="padding-right">
            <!-- Success Message -->
            <mark id="message"></mark>
            <!-- Form -->
            <form method="post" action="/Home/ConatctUs/" name="contactform" id="contactform">
                <fieldset>
                    <div>
                        <label>Name:</label>
                        <input name="fullname" type="text" id="name" placeholder="Full Name" required/>
                    </div>
                    <div>
                        <label>Mobile:</label>
                        <input type="text" name="phone" id="phone" placeholder="Phone Number" minlength="10" maxlength="10" required/>
                    </div>
                    @{
                        var user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
                        @if (user != null)
                        {
                            <div>
                                <label>Email: <span>*</span></label>
                                <input name="email" type="text" id="email" value="@user.Email" readonly>
                            </div>
                        }
                        else
                        {
                            <label>Email: <span>*</span></label>
                            <div>
                                <input name="email" type="text" id="email" placeholder="Email" required>
                            </div>
                        }
                    }
                    <div>
                        <label>Message: <span>*</span></label>
                        <textarea cols="40" rows="3" name="details" id="details" placeholder="Details" spellcheck="true" required></textarea>
                    </div>
                </fieldset>
                <div id="result"></div>
                <input type="submit" class="" id="sendMessage" value="Send Message" />
                <div class="clearfix"></div>
                <div class="margin-bottom-40"></div>
            </form>
        </section>
        <!-- Contact Form / End -->
    </div>
    <!-- Container / End -->
    <!-- Sidebar
    ================================================== -->
    <div class="five columns">
        <!-- Information -->
        <h3 class="margin-bottom-10">Information</h3>
        <div class="widget-box">
            <p>Due to the bespoke nature of our work, we would like to talk with you so that we can really get to grips with how you and your business work. That way, we can tailor a solution to both your requirements and your budget. </p>
            <ul class="contact-informations">
                <li>C-76, Sector 63, </li>
                <li>Noida - 201301 (U.P) India</li>
            </ul>
            <ul class="contact-informations second">
                <li><i class="fa fa-phone"></i> <p>+91-120-455-4091, +91-981-155-9349</p></li>
                <li><i class="fa fa-envelope"></i> <p><a href="http://www.vasterad.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b0ddd1d9dcf0d5c8d1ddc0dcd59ed3dfdd">info@careerindeed.in</a></p></li>
                <li><i class="fa fa-globe"></i> <p>www.careerindeed.in</p></li>
            </ul>
        </div>

        <!-- Social -->
        <div class="widget margin-top-30">
            <h3 class="margin-bottom-5">Social Media</h3>
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="margin-bottom-50"></div>
        </div>
    </div>
</div>
<!-- Container / End -->



@section scripts{
    <script>
        $(document).ready(function () {
            //SpecialCharAndAlphabet($('#phone'));
            $('#phone').keypress(function (e) {
                $("#error_sp_msg").remove();
                var k = e.keyCode,
                    $return = (k >= 48 && k <= 57);
                if (!$return) {
                    $("<span/>", {
                        "id": "error_sp_msg",
                    }).insertAfter($(this));
                    return false;
                }
            });
            $('#name').each(function () {
                $(this).keypress(function (e) {
                    $("#error_sp_msg").remove();
                    var k = e.keyCode,
                        $return = ((k > 64 && k < 91) || (k > 96 && k < 123) || k === 8 || k === 32);
                    if (!$return) {
                        $("<span/>", {
                            "id": "error_sp_msg",
                        }).insertAfter($(this));
                        return false;
                    }
                });
            });
        });
    </script>
}
