
@{
    ViewData["Title"] = "Find Job Vacancies";
}

@{
    UserViewModel user = Context.Session.Get<UserViewModel>
        (Constants.SessionKeyUserInfo);
    if (user != null)
    {
        @if (user.RoleName == "Admin")
        {
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="whitetitle"><span class="title-bdr-black-4">All Categories</span></h2>
            </div>
            <div class="col-sm-4 text-right spacer-top-10">
                <a href="/JobSeekerManagement" class="btn btn-primary btn-lg">Search more jobs</a>
            </div>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<!-- Categories Group -->
<div class="home-screen-section row">
    <div class="container">
        <h2 class="blacktitle">Jobs by Industry & Categories</h2>
        @if (ViewBag.CategoryJobs != null && Enumerable.Count(ViewBag.CategoryJobs) > 0)
        {
            <ul class="black-bg link-lists">
                @foreach (var row in ViewBag.CategoryJobs)
                {
                    <li><a href="/Home/AllJobsByCategory/?id=@row.JobIndustryAreaId">@row.JobIndustryAreaName</a></li>
                }
            </ul>
        }
        else
        {
            <p> No data found!</p>
        }
    </div>
</div>
<!-- Categories Group -->
<div class="home-screen-section row panelbg-black" id="CityVacancies">
    <div class="container">
        <h2 class="whitetitle greenbdr">Vacancies by Cities </h2>
        @if (ViewBag.CityJobs != null && Enumerable.Count(ViewBag.CityJobs) > 0)
        {
            <ul class="white-bg link-lists">
                @foreach (var row in ViewBag.CityJobs)
                {
                    <li><a href="/Home/AllJobsByCity/?citycode=@row.CityCode">@row.City</a></li>
                }
            </ul>
        }
        else
        {
            <p> No data found!</p>
        }
    </div>
</div>
<!-- Categories Group -->
<div class="home-screen-section row" id="CompanyVacancies">
    <div class="container">
        <h2 class="blacktitle">Vacancies by Company  </h2>
        @if (ViewBag.CompanyJobs != null && Enumerable.Count(ViewBag.CompanyJobs) > 0)
        {
            <ul class="black-bg link-lists">
                @foreach (var row in ViewBag.CompanyJobs)
                {
                    <li><a href="/Home/AllJobsByCompany/?UserId=@row.UserId">@row.CompanyName</a></li>
                }
            </ul>
        }
        else
        {
            <p> No data found!</p>
        }
    </div>
</div>


