
@{
    ViewData["Title"] = "PrivacyPolicy";

}

<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg)">
    <div class="container titlebar-inner">
        <h2 class="whitetitle">Privacy Policy</h2>
    </div>
</div>

<div class="home-screen-section container">
    <p>
        The issue of online privacy is extremely crucial for <strong>CareerIndeed</strong>, which is committed to safeguarding the information provided by its members and other visitors
        logging on to its Web site. As an organization dedicated to creating a secure environment for e-commerce transactions in India, CareerIndeed has been actively promoting
        the concept of privacy and its relevance for organizations with a cyber presence.
    </p>
    <p>
        Respecting the privacy of its online visitors, while providing top-of-the-line services to customers has remained the core of CareerIndeed’s strategy for the Internet.
        Our Privacy Policy gives visitors a view of the Privacy Practices followed by CareerIndeed and assures them of safe passage through the organization’s Web site.
    </p>
    <p>
        At the same time, CareerIndeed would like to make it clear that its site provides links to other Web sites that are governed by their own Privacy Policies and does not take
        responsibility for the security provided by these sites. Visitors to the CareerIndeed site are urged to familiarize themselves with its Privacy Policy as well the policies of
        the sites with links on <a href="http://www.careerindeed.in/" style="margin: 0px; padding: 0px; border: 0px; text-decoration: none; color: #9e061f;" title="www.CareerIndeed.in">www.CareerIndeed.in</a> , that collect personally identifiable information.
    </p>
    <p>When you provide us with your personal data, you are agreeing to the rules and regulations stipulated under our Privacy Policy and are bound by it. If you do not agree to our Policy please do not use the Site.</p>
    <p>The Privacy Policy covers the following areas:</p>
    <ul>
        <li>Type of information collected through the Web site</li>
        <li>Choice/Opt out</li>
        <li>Use and Disclosure of personal information</li>
        <li>Security</li>
    </ul>


    <h2 class="blacktitle spacer-top-20">Type of information collected through the Web site</h2>


    <h4 class="subheader spacer-top-10">Personal information:</h4>
    <p>
        Users registering at the CareerIndeed site for specific services are requested to provide some personally identifiable information which become the property of CareerIndeed and can be shared,
        disclosed or distributed to third parties only in accordance with the Privacy Policy.
        It must be clarified here that registration is not required for visitors to the site who do not require any specific services.
    </p>

    <p>CareerIndeed will not sell or rent such personally identifiable information collected. The personally identifiable information is supplied voluntarily for some of the following purposes:</p>



    <h4 class="subheader spacer-top-10">Registration Data:</h4>
    <p>
        If you are merely a visitor to our site, CareerIndeed does not collect any personal information about you, except to the limited extent through the use of cookies, as described below.
        If you decide to use certain services offered on the site, you will be asked to register on <a href="http://www.CareerIndeed.in/" style="margin: 0px; padding: 0px; border: 0px; text-decoration: none; color: #9e061f;" title="www.CareerIndeed.in">www.CareerIndeed.in</a>.
        During registration you will be requested to complete a registration form setting out basic online contact information about yourself.
    </p>



    <h4 class="subheader spacer-top-10">E-mail information:</h4>
    <p>When we receive e-mails from you, we may retain the content of any e-mail messages sent to us, as well as details of your e-mail address.</p>



    <h4 class="subheader spacer-top-10">Use of web-based tracking mechanisms such as Cookies</h4>
    <p>
        Cookies, which enable us to store small amounts of information contained in your Web site browser, may be used on some areas of our Website. Cookies, that help us track your
        navigation, enable us to tailor our offerings to your needs. The kind of information that may be stored on a cookie includes registration data so that a user does not need to
        re-enter the information every time he/she visits a particular area.
    </p>
    <p>The information contained on cookies is masked to ensure your privacy and is readable only by the servers of CareerIndeed.in.</p>
    <p>
        Third party Websites which are accessible from our Site via links, click-throughs or banner advertising may use Cookies. However,
        it is important for us to inform you that we have no access or control over such Cookies and do not accept responsibility with regards to them.
    </p>


    <h4 class="subheader spacer-top-10">Choice/opt out</h4>
    <p>
        CareerIndeed gives you the choice regarding the collection and usage of your personally identifiable information. During registration, we request for contact information in order to
        send bulletins and for advertising purposes. Again, it is not necessary for you to register in order to access and use our Site.
        You may therefore choose to opt out of providing such information.
    </p>
    <p>Further, once you are registered at the CareerIndeed site, you will have the option at any stage to inform us that you no longer wish to receive future e-mails and you may “unsubscribe.”</p>


    <h4 class="subheader spacer-top-10">Security</h4>
    <p>
        Access to your personal account online is password protected. We will not release your account password to any person. In the event that you forget your password, you may generate an
        on-line request for your password to be sent to you by e-mail at the e-mail address used during registration.
    </p>
    <p>
        CareerIndeed has implemented stringent, internationally acceptable standards of technology and operational security in order to protect personally identifiable information from loss,
        misuse, alteration or destruction. The data resides behind a firewall, with access restricted to authorized CareerIndeed personnel.
    </p>
    <p>CareerIndeed cannot be held responsible for any activity in your account which results from your failure to keep your own password secure</p>

    <h4 class="subheader spacer-top-10">Contacting the web site</h4>
    <p>For questions regarding the privacy statement, practices of the site, or any other transaction issue, please contact &nbsp;<a href="mailto:admin@gmail.in?subject=PrivacyPolicy" style="margin: 0px; padding: 0px; border: 0px; text-decoration: none; color: #9e061f;">admin@careerindeed.in</a></p>
</div>
