@using JobPortal.Model.DataViewModel.Home
@model SuccessStoryViewModel
@{
    ViewData["Title"] = "Sucess Story And Review";
}
<style>
    .message-des {
        /*background-image: url('/images/review.jpg');*/
        background-color: #05969aa3;
        border-radius: 15px
    }
    
    .heading-color {
        color: #eaf3ec;
    }
    .text-area-editor {
        border: 3px solid #dfb69e;
        border-radius: 10px
    }
    #wrapper {
        background-color: #f0f0f0;
    }
    .row {
        margin-top:20px;
    }
</style>
@{
    UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);

   
    <div class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Feedback</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb"><a href="/Home/Index/">Home</a> / <span>Feedback</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->
    <div class="container">
                <!--Start comment Section-->
                    <div class="row">
                        <div class="col-md-12 message-des">
                            <div class="col-md-12">
                                <h3 class="widgettitles gp-standard-titles" style="margin-top:20px;">
                                    <span class="heading-color">Feedback</span>
                                </h3>
                            </div>
                            @if (@user == null)
                            {
                                <label style="margin-bottom:5px;">You must be logged in to post a review.</label>
                            }
                            else
                            {
                                <form asp-action="PostSucessStoryReview" method="post" enctype="multipart/form-data">
                                    <div class="col-sm-12 col-md-12">
                                        @if (TempData["Feedback"] != null)
                                        {
                                        <p class="success-message"> @Html.Raw(@TempData["Feedback"].ToString())</p>
                                        }
                                        
                                        <label>
                                            <textarea class="text-area-editor form-control col-md-12" asp-for="Message" id="areaCommet" name="Message" cols="52" rows="7" placeholder="MESSAGE" required></textarea>
                                        </label><br />
                                        <font class="reviewfontwaring heading-color">* Should be maximum 100 words</font>

                                    </div>
                                    <div class="col-sm-12 col-md-12" style="margin-bottom:10px;">
                                        <button type="submit" id="submitReview" class="button centered" style="width:40%">Post  </button>
                                    </div>
                                    <br />
                                </form>

                            }
                        </div>
                    </div>
                    <!--End comment Section-->
                
           
        </div>
    
}
@section Scripts
    {
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script src="~/js/Home/SuccessStoryAndReview.js"></script>
}
