

<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <h2 class="whitetitle">Job Info</h2>
</div>

<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li>Job Info</li>
    </ol>
</nav>

<div class="col-sm-12">
    <div class="userbtns">
        <ul class="nav nav-tabs text-uppercase">
            <li onclick="jobStatusDetails(1)" class="active" id="activeJobs"><a href="javascript:void(0)">Active Jobs</a></li>
            <li onclick="jobStatusDetails(0)" class="" id="closedJobs"><a href="javascript:void(0)">Closed Jobs</a></li>
        </ul>
    </div>
    <div class="dashboard-list-box tab-content" id="contentTableHolder"> </div>
</div>
    <script>
        $(document).ready(function () {
            let year = new Date().getFullYear();
            let jobStatus = 1;
            SendAJAXRequest(`/Dashboard/GetJobStatus?year=${year}&JobStatus=${jobStatus}`, "GET", {}, "html", function (resp) {
                if (resp && resp !== "") {
                    $("div#contentTableHolder").html(resp);
                }
                else {
                    return false;
                }
            });
        });
    </script>
