
<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <h2 class="whitetitle">Jobs</h2>
</div>

<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">Jobs Info</li>
    </ol>
</nav>
<div class="col-sm-12">
    
        <lable><sapn onclick="jobStatusDetails(1)" class="active btn btn-primary" id="activeJobs">Active Jobs</sapn></lable>
        <label><sapn onclick="jobStatusDetails(0)" class="btn btn-primary" id="closedJobs">Closed Jobs</sapn></label>
    
    <div id="contentTableHolder">

    </div>

</div>
<script>
    $(document).ready(function () {
        let year = new Date().getFullYear();
        let jobStatus = 1;
        SendAJAXRequest(`/Dashboard/GetJobStatus?year=${year}&JobStatus=${jobStatus}`, "GET", {}, "html", function (resp) {
            if (resp && resp !== "") {
                $("div#contentTableHolder").html(resp);
            }
            else {
                return false;
            }
        });
    });
</script>
