@using JobPortal.Model.DataViewModel.Employer.Dashboard
@{
    ViewData["Title"] = "DashBoard";
}

<div id="dashboard">
    <!-- Navigation
    ================================================== -->
    <!-- Responsive Navigation Trigger -->
    <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

    <div class="dashboard-nav">
        <div class="dashboard-nav-inner">

            <ul data-submenu-title="Start">
                <li class="active"><a href="">Dashboard</a></li>
                <li onclick="getMessages()"><a href="javascript:void(0)">Messages</a></li>
                <!-- <li><a href="#">Messages <span class="nav-tag">Model.TotalMessages</span></a></li> -->
            </ul>

            <ul data-submenu-title="Management">
                <li>
                    <a>For Employers</a>
                    <ul>
                        <li onclick="getMyJobs()"><a href="javascript:void(0)">Manage Jobs</a></li>
                        <li onclick="getJobSeekersBasedOnEmployerHiringCriteria()"><a href="javascript:void(0)">View JobSeekers</a></li>
                        <li onclick="getJobSeekers()"><a href="javascript:void(0);">Manage Application</a></li>
                        <li onclick="addjobs()"><a href="javascript:void(0)">Add Job</a></li>
                    </ul>
                </li>
                <li>
                    <a>Premium Section</a>
                    <ul>
                        <li><a href="#">Comming Soon <span class="nav-tag">2</span></a></li>
                        <!--<li><a href="#">Job Alerts</a></li>
                        <li><a href="#">Add Resume</a></li> -->
                    </ul>
                </li>
            </ul>

            <ul data-submenu-title="Account">
                <li onclick="myProfile()"><a href="javascript:void(0)">My Profile</a></li>
                <!-- <li><a href="index-2.html">Logout</a></li> -->
            </ul>

        </div>
    </div>

    <div id="mycontentHolder">
    </div>
    <!-- Content / End -->
</div>



@section Scripts
    {
    @*<script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>*@
    @*<script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>*@
    @*<script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>*@
    @*<script src="~/lib/Calendar/js/tail.datetime.js"></script>*@
    <script src="~/js/multiselector.js"></script>
    <script src="~/js/autoComplete.js"></script>
    <script src="~/js/autoCompleteIntegration.js"></script>
    <script src="~/js/Employer/Dashboard/dashboard.js?v=28032020"></script>
    @*<script src="~/js/Employer/JobPost/JobPost.js"></script>*@
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(".chosen-select").chosen({});
        $(".chosen-select-no-single").chosen({});
    </script>
}