@using JobPortal.Model.DataViewModel.Employer.Dashboard
@{
    ViewData["Title"] = "DashBoard";
}


<!-- Navigation
================================================== -->
<!-- Responsive Navigation Trigger -->

<a href="#" class="dashboard-responsive-nav-trigger"><span class="nav-bdr"></span></a>

<div class="d-flex container body-container">
    <nav class="dashboard-nav">
        <ul data-submenu-title="Start">
            <li class="active"><a href="">Dashboard</a></li>
            <li onclick="getMessages()"><a href="javascript:void(0)">Messages</a></li>
            <!-- <li><a href="#">Messages <span class="nav-tag">Model.TotalMessages</span></a></li> -->
            <li>
                <span class="sublink-item">For Employers</span>
                <ul class="subnav-list">
                    <li onclick="addjobs()"><a href="javascript:void(0)">Add Job</a></li>
                    <li onclick="draftjobs()"><a href="javascript:void(0)">Draft Jobs</a></li>
                    <li onclick="getMyJobs()"><a href="javascript:void(0)">Manage Jobs</a></li>
                    <li onclick="getJobSeekersBasedOnEmployerHiringCriteria()"><a href="javascript:void(0)">View JobSeekers</a></li>
                    <li onclick="getJobSeekers()"><a href="javascript:void(0);">Manage Application</a></li>
                    <li onclick="getActiveCloseJobs()"><a href="javascript:void(0);">Active/Close Jobs</a></li>
                </ul>
            </li>
            <li>
                <span class="sublink-item">Premium Section</span>
                <ul class="subnav-list">
                    <li><a href="#">Comming Soon <span class="nav-tag">2</span></a></li>
                </ul>
            </li>
            <li onclick="myProfile()"><a href="javascript:void(0)">My Profile</a></li>
        </ul>
    </nav>
    <div id="mycontentHolder" class="flex-1 mobile-full-screen overflow-hidden"></div>
</div>

<!-- Content / End -->




@section Scripts
    {
    <script src="~/js/multiselector.js"></script>
    <script src="~/js/autoComplete.js"></script>
    <script src="~/js/autoCompleteIntegration.js"></script>
    <script src="~/js/Employer/Dashboard/dashboard.js?v=28032020"></script>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(".chosen-select").chosen({});
        $(".chosen-select-no-single").chosen({});
    </script>
}