@using JobPortal.Model.DataViewModel.Shared
@model SearchResumeViewModel
<div>
    <form asp-area="Employer" asp-controller="SearchResume" asp-action="SearchResumeList" method="post" class="col-xs-10 col-xs-offset-1 searchbar">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 search-form-element">
                    <input type="text" class="form-control left-radius" asp-for="Skills" placeholder="Enter a skill">
                </div>
                <div class="col-sm-4 search-form-element">
                    <input asp-for="City" type="hidden" id="hdnCity" />
                    <input type="text" id="City" class="form-control" placeholder="Enter city" />
                </div>
                <div class="col-sm-2 search-form-element">
                    <select class="form-control" title="Min Exp" name="minExp" asp-for="MinExp">
                        <option value="-1">Min Exp</option>
                        <option value="0">Fresher</option>
                        @for (int i = 1; i <= 15; i++)
                        {
                            <option value=@i>@(i) Year(s)</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2 search-form-element">
                    <select class="form-control right-radius" title="Max Exp" name="maxExp" asp-for="MaxExp">
                        <option value="-1">Max Exp</option>
                        <option value="0">Fresher</option>
                        @for (int i = 1; i <= 15; i++)
                        {
                            <option value=@i>@(i) Year(s)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row btn-row text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Search Resume">
        </div>
    </form>
</div>