@{
    ViewData["Title"] = "Dashboard";
}

<a href="#" class="dashboard-responsive-nav-trigger"><span class="nav-bdr"></span></a>
<!-- Dashboard -->
<div class="d-flex container body-container">
    <!-- Navigation
    ================================================== -->
    <!-- Responsive Navigation Trigger -->
    <div class="dashboard-nav">
        <ul data-submenu-title="Start">
            <li class="active"><a href="/JobSeekerManagement/Dashboard">Dashboard</a></li>

            <li>
                <span class="sublink-item">
                    Candidates
                </span>
                <ul class="subnav-list">
                    <li onclick="ManageResume()" class="active" id="ManageResume"><a href="javascript:void(0);">Manage Profile/Resume</a></li>
                    <li onclick="JobseekerAppliedJobs()"><a href="javascript:void(0);">Applied Jobs</a></li>
                </ul>
            </li>

            <li><a href="/JobSeekerManagement/Profile/">My Profile</a></li>
            <li><a href="/Auth/Logout/">Logout</a></li>
        </ul>
    </div>
    <!-- Navigation / End -->
    <!-- Content
    ================================================== -->
    <div class="flex-1 mobile-full-screen overflow-hidden" id="contentHolder"></div>
    <!-- Content / End -->
</div>
<!-- Dashboard / End -->
@section Scripts
    {
    <script src="~/js/Jobseeker/JobSeekerDashboard.js"></script>
    <script src="~/lib/tag-editor/jquery.caret.min.js"></script>
    <script src="~/lib/tag-editor/jquery.tag-editor.min.js"></script>
}