<form id="frmEducationalDetails_0" class="home-screen-section">
    <input type="hidden" name="Id" value="0" />
    <div class="col-sm-6">
        <div class="form-group">
            <label for="Qualification" class="input-label">Qualification*:</label>
            <select class="form-control input-elements" name="Qualification" onchange="changeCourseCategory(this)">
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="Course" class="input-label">Course*:</label>
            <select class="form-control input-elements" name="Course">
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="Specialization" class="input-label">Specialization*:</label>
            <input type="text" name="Specialization" class="form-control input-elements" placeholder="Specialization">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="University" class="input-label">University/College*:</label>
            <input type="text" name="University" required class="form-control input-elements" placeholder="Institute Name">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="CourseType" class="input-label">Course Type*:</label>
            <div class="min-width-100">
                <label class="radio-inline">
                    <input type="radio" name="CourseType" value="">
                </label>
                <label class="radio-inline">
                    <input type="radio" name="CourseType" value="">
                </label>
                <label class="radio-inline">
                    <input type="radio" name="CourseType" value="">
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="Percentage" class="input-label">Percentage*:</label>
            <input type="number" name="Percentage" class="form-control input-elements" placeholder="Percentage (%)">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="PassingYear" class="input-label">Passing Year*:</label>
            <select class="form-control input-elements" name="PassingYear">
                @{
                    int currYear = DateTime.Now.Year;
                    @for (int i = (currYear - 50); i <= (currYear + 1); i++)
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <a id="btnAddAnOtherAcademic" class="btn btn-primary" onclick="createEducationalDetailsForm(this)">+add another academic</a>
    </div>
</form>