@using JobPortal.Model.DataViewModel.JobSeeker
@model EmployerFollowers

    <div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
        <h2 class="whitetitle">Followed Comapny</h2>
    </div>
    <nav id="breadcrumbs" class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/JobSeekerManagement/Dashboard">Dashboard</a></li>
            <li>followed Comapny</li>
        </ol>
    </nav>
    <div class="col-xs-12 home-screen-section">
        <div class="table-responsive">
            <table class="manage-table table table-bordered">
                <tr class="active">
                    <th width="80">Company</th>
                    <th width="15%">Following Date</th>
                    <th width="5%"></th>
                </tr>
                @if (ViewBag.EmployerFollowers != null && Enumerable.Count(ViewBag.EmployerFollowers) > 0)
                {
                    foreach (var item in ViewBag.EmployerFollowers)
                    {
                        <tr>
                            <td>@item.CompanyName</td>
                            <td>@item.CreatedDate</td>
                            <td class="action">
                                <a onclick="UnfollowComapny(@item.EmployerID)" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Unfollow</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No data available!</td>
                    </tr>
                }
            </table>
        </div>
    </div>
