@using JobPortal.Model.DataViewModel.JobSeeker
@model MessageViewModel

    <div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
        <h2 class="whitetitle">Employer List</h2>
    </div>
    <nav id="breadcrumbs" class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/JobSeekerManagement/Dashboard">Dashboard</a></li>
            <li>Contacted List</li>
        </ol>
    </nav>
    <!-- Table-->
    <div class="col-xs-12 home-screen-section">
        <div class="table-responsive">
            <!-- Table -->
            <table class="manage-table table table-bordered">
                <tr class="active">
                    <th>From</th>
                    <th>To</th>
                    <th>Subject</th>
                </tr>
                @if (ViewBag.JobSeekerContacted != null && Enumerable.Count(ViewBag.JobSeekerContacted) > 0)
                {
                    foreach (var item in ViewBag.JobSeekerContacted)
                    {
                        <tr>
                            <td width="20%">@item.SenderEmail</td>
                            <td width="20%">@item.ReceiverEmail</td>
                            <td>@item.Subject</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No data available!</td>
                    </tr>
                }
            </table>
        </div>
    </div>

