
<link href="~/lib/tag-editor/jquery.tag-editor.css" rel="stylesheet" />

<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <h2 class="whitetitle">Manage Resume</h2>
</div>
<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Manage Resume</li>
    </ol>
</nav>
<div class="col-md-12 tab" role="tabpanel">
    <!-- Nav tabs -->
    <div class="tabs-container-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#PersonalInformation" aria-controls="personal-information" role="tab" data-toggle="tab">Personal Information</a></li>
            <li role="presentation"><a href="#Employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a></li>
            <li role="presentation"><a href="#Education" aria-controls="education" role="tab" data-toggle="tab">Education</a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="row tab-content tabs">
        <div role="tabpanel" class="formpanel userccount tab-pane fade in active" id="PersonalInformation">
            <partial name="PersonalDetailsFormPartial" />
        </div>
        <div role="tabpanel" class="formpanel userccount tab-pane fade" id="Employment">
            <input type="hidden" name="Skills" />
            <partial name="ExperienceDetailsFormPartial" />
            <div class="form-group spacer-bottom-20 spacer-top-20 text-center col-xs-12">
                <input type="button" id="btnSaveEmploymentInfo" class="btn btn-success" onclick="saveExperienceDetails(this);" value="Save and Continue">
            </div>
        </div>
        <div role="tabpanel" class="formpanel userccount tab-pane fade" id="Education">
            <partial name="EducationalDetailsFormPartial" />
            <div class="form-group spacer-bottom-20 spacer-top-20 text-center col-xs-12">
                <input type="button" id="btnSaveEducationInfo" class="btn btn-success" onclick="saveEducationDetails(this);" value="Save and Preview">
            </div>
        </div>
    </div>
</div>
<script src="~/js/Jobseeker/resume-builder.js"></script>

