
@{
    ViewData["Title"] = "Bulk Job Post";
}
<link href="~/css/fileUploadControl.css" rel="stylesheet" />
<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        <h2 class="whitetitle"><span class="title-bdr-black-4">@ViewData["Title"]</span></h2>
    </div>
</div>
<nav id="breadcrumbs" class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container">
    <div class="row spacer-top-20">
        <div class="col-sm-8">
            <h2 class="blacktitle">Post Jobs</h2>
        </div>
        <div class="col-sm-4 text-right">
            <a asp-action="DownloadTemplate" class="btn btn-link quick-links text-uppercase">Download Template</a>
        </div>
    </div>
    <div asp-validation-summary="All" class="error-text col-sm-12 spacer-top-10"></div>
    <span id="message" asp-validation-summary="" class="error-text col-sm-12 spacer-top-10"></span>
    <form asp-action="UploadJobs" method="post" onsubmit="return uploadJobs(this)" class="spacer-top-20" enctype="multipart/form-data">
        <div class="zone text-center">
            <div id="dropZ">
                <p>Drag and drop your file here</p>
                <p>OR</p>
                <div class="selectFile">
                    <label for="file" id="fileName" class="text-overflow">Select file</label>
                    <input type="file" name="files" onchange="fileSelected(this)" id="file" />
                </div>
                <p class="note-text">File size limit : 10 MB</p>
            </div>
        </div>
        <div class="text-center spacer-top-20 spacer-bottom-20 btn-row">
            <button type="submit" class="btn btn-primary UploadFilebtn" name="uploadbutton">Upload file</button>
        </div>
    </form>
</div>

@section Scripts
    {
    <script src="~/js/Shared/bulkJobPost.js"></script>
}
